<footer>
  <img src="../../../assets/bg-decals3.svg" class="w-screen" />
  <div class="bg-[#343a40] h-80 text-white pt-10">
    <div class="w-10/12 m-auto py-2">
      <div class="flex justify-start after gap-3.5">
        <img src="../../../assets/logo1.svg" class="w-10" alt="Logo" />
        <p class="text-lg font-medium">Protoapp</p>
      </div>
      <div class="pl-14">
        <p>Camp One Inc, LLC</p>
        <p class="w-4/12">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt
          earum dicta nulla officia, similique voluptatem fugit maxime vel
          veritatis architecto iusto error culpa doloribus beatae, qui quod
          eveniet quisquam?
        </p>
      </div>
      <p class="pt-8">© 2019 Protoapp. All rights reserved.</p>
    </div>
  </div>
</footer>
