<main>
  <img
    src="../../../assets/bg-leaves.svg"
    alt="proto app logo"
    class="absolute right-0 -top-16"
  />
  <img src="../../../assets/bg-decals.svg" class="-ml-20 absolute pt-48" />

  <div class="w-10/12 m-auto py-28 pl-2">
    <div class="pb-44">
      <p class="text-6xl">Protoapp</p>
      <p class="text-xl w-96 pt-3.5 py-3.5">
        Our landing page template works on all devices, so you only have to set
        it up once, and get beautiful results forever.
      </p>
      <button
        class="bg-[#2248e2] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Get Started
      </button>
    </div>

    <div class="fade-hr"></div>
    <div class="flex justify-center items-center gap-8 py-6 z-50">
      <img src="../../../assets/badge.play-store.svg" class="" />
      <img src="../../../assets/badge.app-store.svg" class="" />
    </div>
    <div class="fade-hr"></div>

    <div class="flex flex-col justify-center items-center pt-20">
      <p class="text-xl font-bold">Meet Protoapp</p>
      <p>
        The app lorem ipsum is common placeholder text used to demonstrate the
        graphic elements of a document or visual presentation.
      </p>

      <div class="flex flex-col md:flex-row pt-12 w-7/12">
        <div class="flex-1 text-right">
          <p class="text-xl font-bold pt-28">Discover</p>
          <p class="mt-4">
            Get information on using these guidelines whenever you are using
            therefore they have the same style and quality.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="../../../assets/product-search.svg"
            alt="product search"
            width="300"
            height="200"
            class="pt-28"
          />
        </div>
      </div>

      <div class="flex flex-col md:flex-row pt-12 w-7/12">
        <div class="flex-1">
          <img
            src="../../../assets/product-smartphone.svg"
            alt="product smartphone"
            width="300"
            height="200"
            class="pt-28"
          />
        </div>
        <div class="flex-1 text-left">
          <p class="text-xl font-bold pt-28">Augmented</p>
          <p class="mt-4">
            Word salad often arouses curiosity due to its seemingly intelligent
            and tasteful play on words.
          </p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row pt-12 w-7/12">
        <div class="flex-1 text-right">
          <p class="text-xl font-bold pt-28">End Possibilities</p>
          <p class="mt-4">
            Get information on using these guidelines whenever you are using
            therefore they have the same style and quality.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="../../../assets/product-work.svg"
            alt="product work"
            width="300"
            height="200"
            class="pt-28 pl-8"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <img src="../../../assets/bg-decals2.svg" class="h-36 relative top-28" />
  </div>
  <div class="bg-[#2248e2] h-80 text-white pt-20">
    <div class="flex flex-col justify-center items-center">
      <p class="text-4xl font-bold">Deep dive. Ready?</p>
      <p class="text-lg font-light pt-2">
        So are we. Unless. You're Not. Word filler.
      </p>
    </div>

    <div class="flex justify-center items-center gap-8 py-8 z-50">
      <img src="../../../assets/badge.play-store.svg" class="" />
      <img src="../../../assets/badge.app-store.svg" class="" />
    </div>
  </div>

  <div class="flex flex-col justify-center items-center pt-10">
    <p class="text-xl font-bold">Last Call to Action</p>
    <p>Another section content goes here</p>
  </div>

  <div class="flex flex-col md:flex-row pt-12 w-8/12 m-auto">
    <div class="flex-1 flex justify-end">
      <div class="bg-[#ffc107] rounded-lg overflow-hidden mr-4 p-8">
        <div class="grid grid-cols-3">
          <div class="col-span-1">
            <img
              src="../../../assets/badge.laravel-mix.svg"
              alt="product work"
              class="w-44"
            />
            <div class="bg-[rgba(178,135,5,255)] rounded-3xl p-2 mt-6">
              <p class="text-white font-bold text-sm text-center">AUTOMATION</p>
            </div>
          </div>

          <div class="text-left text-white col-span-2 pl-8">
            <p class="text-xs">ROLL OUT</p>
            <p class="text-2xl font-bold pb-4">Automatic Prototyping</p>
            <p>
              Webpack is the most powerful and flexible asset compilation tool
              available today. With that power, however, comes a certain level
              of complexity.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-1 flex justify-end">
      <div class="bg-[#17a2b8] rounded-lg overflow-hidden mr-4 p-8">
        <div class="grid grid-cols-3">
          <div class="col-span-1">
            <img
              src="../../../assets/badge.how-to-read-code.svg"
              alt="product work"
              class="w-44"
            />
            <div class="bg-[rgba(16,113,128,255)] rounded-3xl p-2 mt-6">
              <p class="text-white font-bold text-sm text-center">AUTOMATION</p>
            </div>
          </div>

          <div class="text-left text-white col-span-2 pl-8">
            <p class="text-xs">SIP COFFEE</p>
            <p class="text-2xl font-bold pb-4">Complexity Simplified</p>
            <p>
              I know too many backend developers who are stifled by one glaring
              phobia: CSS. How do you construct a layout when nothing lines up?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
