<main>
  <img
    src="../../../assets/bg-leaves.svg"
    alt="proto app logo"
    class="absolute right-0 -top-16"
  />
  <img src="../../../assets/bg-decals.svg" class="-ml-20 absolute pt-48" />

  <div class="w-10/12 m-auto py-28 pl-2">
    <div class="pb-44">
      <p class="text-6xl">Protoapp</p>
      <p class="text-xl w-96 pt-3.5 py-3.5">
        Our landing page template works on all devices, so you only have to set
        it up once, and get beautiful results forever.
      </p>
      <button
        class="bg-[#2248e2] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Get Started
      </button>
    </div>

    <div class="fade-hr"></div>
    <div class="flex justify-center items-center gap-8 py-6 z-50">
      <img src="../../../assets/badge.play-store.svg" class="" />
      <img src="../../../assets/badge.app-store.svg" class="" />
    </div>
    <div class="fade-hr"></div>

    <div class="flex flex-col justify-center items-center pt-20">
      <p class="text-xl font-bold">Meet Protoapp</p>
      <p>
        The app lorem ipsum is common placeholder text used to demonstrate the
        graphic elements of a document or visual presentation.
      </p>
    </div>
  </div>
</main>
