@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.fade-hr {
  position: relative;
  width: 75%;
  margin: auto;
  height: 1px; /* Adjust as needed */
  background: linear-gradient(
    to right,
    transparent,
    rgba(209, 209, 209, 0.5),
    transparent
  );
}
